.app {
	display: flex;
	width: 80vw;
	margin: auto;
	flex-direction: column;
	align-items: center;
}

.app__form {
	display: flex;
	width: 80vw;
	height: 600px;
	justify-content: space-around;
}

.form {
	border-radius: 20px;
	border: 1px solid lightblue;
	flex-grow: 1;
	margin: 10px;
	padding: 0 50px;
}

.form > form {
	display: flex;
	flex-direction: column;
}
